@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fuentes */
@font-face {
  font-family: 'Satoshi Bold';
  src: url("./assets/fonts/Satoshi-Bold.otf");
}
@font-face {
  font-family: 'Satoshi Italic';
  src: url("./assets/fonts/Satoshi-Italic.otf");
}
@font-face {
  font-family: 'Satoshi Light';
  src: url("./assets/fonts/Satoshi-Light.otf");
}
@font-face {
  font-family: 'Satoshi Medium';
  src: url("./assets/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: 'Satoshi Regular';
  src: url("./assets/fonts/Satoshi-Regular.otf");
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-family: 'Satoshi Regular';
  scrollbar-width: none;
  }

#root{
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 1024px;
  margin: 0 auto;
}
/* style to hide input's border on focus */
.noBorderInput:focus {
  outline: 0 none;
  border: 0 none;
}
/* Variables globales */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* styles to hide scroll bar */
::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  background: transparent;
}
